html{
  height: 100%;
}

body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container{
  flex: 1;
}

footer{
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(36,32,33,0.9);
  color: #fff;
  font-family: "Helvetica Neue", Helvetica;
  padding: 20px 0;
  margin-top: 30px;
  font-weight: 100;
}

footer a{
  color: #fff;
  font-weight: 100;
}

.social-button{
  margin: 4px;
}

.social a:hover{
  text-decoration: none;
}

.text-footer{
  font-size: 13px;

}

.text-footer-links{
  font-size: 13px;
}

.text-footer-links:hover{
  text-decoration: none;
  font-size: 13px;
}
.title{
  font-size: 1rem;
}